{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<style>
  
    .menu {
        font-size: 30px;
        color: #5e0d0d; /* Color del texto */
        text-align: center;
        margin-bottom: 20px;
        /* Utilizando la fuente Lobster desde Google Fonts */
        font-family: 'Lobster', Castellar;
        background-color: rgba(94, 13, 13, 0.2);
    }
    .menu2 {
        text-align: center;
        /* Utilizando la fuente Lobster desde Google Fonts */
        font-family: 'Lobster', Castellar;
    }
    /* Agrega un estilo personalizado para el enlace */
   .enlace-agrandado {
        transition: transform 0.3s; /* Agrega una transición suave */
        transform-origin: top left; /* Cambia el origen de la transformación */
    }

    /* Define el aumento al pasar el ratón */
    .enlace-agrandado:hover {
        transform: scale(.2); /* Puedes ajustar el valor según tus preferencias */
    }
    /* Agrega un estilo personalizado para el enlace */
    .enlace-agrandado2 {
        transition: transform 0.3s; /* Agrega una transición suave */
        transform-origin: top left; /* Cambia el origen de la transformación */
    }

    /* Define el aumento al pasar el ratón */
    .enlace-agrandado2:hover {
        transform: scale(1.2); /* Puedes ajustar el valor según tus preferencias */
    }

</style>


<div class="container-fluid">

  <div class="dropdown">
    <button class="btn dropdown-toggle menu" type="button" data-toggle="dropdown" aria-expanded="false">
      menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item menu2 my-2 enlace-agrandado2" href="{% url 'listarProducto_vendedor' %}">Listar Productos</a></li>
    </ul>
  </div>

      {% block vendedor %}
        

      {% endblock %}

</div>

{% endblock %}
