{% extends 'base.html' %}

{% load static %}

{% block contenido %}
    <style>
        /* Estilos para mejorar la apariencia */
        .titulo {
            color: #007BFF; /* Color azul */
            text-align: center;
        }

        .producto-imagen {
            max-width: 400px;
            height: auto;
            margin: 20px auto; /* Añade espacio alrededor de la imagen */
            display: block;
        }

        .nombre-producto {
            color: #DC3545; /* Color rojo oscuro */
            font-size: 60px;
            text-align: center;
        }

        .titulo-adicional {
            background-color: #DC3545; /* Color de fondo rojo oscuro */
            color: #FFFFFF; /* Color de texto blanco */
            font-weight: bold;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            margin: 20px 0;
        }

        .precio {
            color: #28A745; /* Color verde */
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        .descripcion {
            color: #343A40; /* Color gris oscuro */
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    </style>

    <h2 class="titulo">Producto</h2>

    <!-- Imagen del producto -->
    <section class="container">
        <div class="row">
            <div class="col text-center">
                <img src="{{ producto.foto.url }}" class="producto-imagen rounded" alt="...">
            </div>
        </div>
    </section>

    <!-- Información del producto -->
    <section class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="nombre-producto">
                    {{ producto.nombre }}
                </h1>

                <h1 class="titulo-adicional">
                    {{ producto.titulo }}
                </h1>

                <hr>

                <h3 class="precio">
                    Precio: ${{ producto.precio }}
                </h3>

                <hr>

                <h3 class="descripcion">
                    Descripción: {{ producto.mensaje }}
                </h3>
            </div>
        </div>
    </section>
{% endblock %}
