{% extends 'base.html' %}

{% load static %}


{% block contenido %}

    <h2 class="titulo">Producto</h2>

    <!-- Imagen del producto -->
<section class="container ">
    <div class="row">
        <div class="col">
            <img src="{{ producto.foto.url }}" class="rounded mx-auto d-block" alt="..."
            style="max-width: 400px; height: auto;">
        </div>
    </div>
</section>

<!-- Información del producto -->
<section class="container">
        <div class="row">
            <div class="col text-center">

                <h1 class=" text-danger fw-bold" style="font-size: 60px;">
                    {{ producto.nombre }}
                </h1>

                <h1 class="text-danger text-bg-dark fw-bold rounded my-4">
                    {{ producto.titulo }}
                </h1>

                <hr>
                
                <h3 class="text-dark fw-bold my-4">
                    Precio: ${{ producto.precio }}
                </h3>                
                
                <hr>
                
                <h3 class="text-dark fw-bold my-4">
                    Descripción: {{ producto.mensaje }}
                </h3>
                
            </div>
        </div>
    </div>
</section>
    
{% endblock %}