{% extends "base.html" %}

{% load crispy_forms_tags static %}

{% block contenido %}
<div class="container mt-5">
    <div class="text-center">
        <img src="{% static "imagenes/logo.jpg" %}" alt="Maremi" style="max-width: 600px;">
    </div>
    <br>
    <h2 class="titulo">Registro Vendedor</h2>
    <!--inicio formulario-->
    <form id="formularioVendedor" action="" method="POST" >
        {% csrf_token %}

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" placeholder="Ingrese su Nombre" required>
        </div>

        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" class="form-control" name="apellido" placeholder="Ingrese su Apellido" required>
        </div>


        <div class="form-group">
          <label for="correo">Correo Electrónico:</label>
          <input type="email" class="form-control" name="correo" placeholder="Ingrese su Correo" required>
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" placeholder="Ingrese su Password" required>
        </div>

        <button type="submit" class="btn btn-danger">Registrar nuevo usuario</button>

    </form>
</div>
<br>

{% endblock %}