

{% extends "base2.html" %}

{% load static %}

{% block contenido %}

<script>
    function eliminarProducto(id)
    {
        Swal.fire({
            "title": "Advertencia",
            "text": "¿Estas seguro que deseas Eliminar este producto?",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "NO, Cancelar",
            "confirmButtonText": "SI, Eliminar"
        }).then(function(result){
            if(result.isConfirmed){

                window.location.href= "/mantenedor/eliminar_producto/"+id+"/";
            }

        })
    }
</script>


<div class="container mt-5">
    <div class="text-center">
        <img src="{% static "imagenes/logo.jpg" %}" alt="Maremi" style="max-width: 600px;">
    </div>
    <br>
    <h2 class="titulo">Listar un producto</h2>

    <div class = "card-body">   
        <a href="{% url 'agregar_producto'  %}" class= "btn btn-success btn-sm" >Agregar Nuevo Producto</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha compra</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Categoria</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for p in mis_productos %}
            <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.nombre}}</td>
                <td>{{p.precio}}</td>
                <td>{{p.cantidad}}</td>
                <td>{{p.fecha_compra}}</td>
                <td>{{p.mensaje}}</td>
                <td>{{p.categoria}}</td>
                <td>
                {% if p.estado == 1   %}
                    aprobado
                {% elif p.estado == 0  %}
                    en espera
                {% else   %}
                    rechazado
                {% endif %}

                </td>
                <td>
                    <a href="{% url 'modificar_producto' p.id %}" class= "btn btn-danger btn-sm" >Modificar</a>
                    <a href="#" onclick="eliminarProducto('{{p.id}}')" class="btn btn-info btn-sm">Eliminar</a>


                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>

{% endblock %}