{% extends "base.html" %}

{% load static %}

{% block contenido %}

<div class="container mt-5">
    <div class="text-center">
        <img src="{% static "imagenes/logo.jpg" %}" alt="Maremi" style="max-width: 600px;">
    </div>
    <br>
    <h2 class="titulo">Listar un producto</h2>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha compra</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
            {% for p in mis_productos %}
            <tr>
                <th scope="row">{{p.id}}</th>
                <td>{{p.nombre}}</td>
                <td>{{p.precio}}</td>
                <td>{{p.cantidad}}</td>
                <td>{{p.fecha_compra}}</td>
                <td>{{p.mensaje}}</td>
                <td>
                {% if p.estado == 1   %}
                    aprobado
                {% elif p.estado == 0  %}
                    en espera
                {% else   %}
                    rechazado
                {% endif %}

                </td>
                <td>
                    <a href="{% url 'modificar_producto' p.id %}" class= "btn btn-danger btn-sm" >Modificar</a>
                    <a href="{% url 'eliminar_producto' p.id %}" class= "btn btn-info btn-sm" >Eliminar</a>


                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>

{% endblock %}